<style>
    #icons span {
        border: 1px solid #ccc;
        padding: 5px;
    }
</style>

<form method="post">
    <div class="container">
        <div class="row">
            <div class="input-group my-2">
                <input name="Title" class="form-control" type="text" placeholder="Title" />
            </div>
            <div class="input-group my-2">
                <input id="myInput"  name="Icon" class="form-control" type="text" placeholder="Icon" />
            </div>

            <div id="icons">
                <i tofiq="fa-solid fa-hashtag" class="myIcon fa-solid fa-hashtag"></i>
                <i tofiq="fa-solid fa-share" class="myIcon fa-solid fa-share"></i>
                <i tofiq="fa-brands fa-facebook-square" class="myIcon fa-brands fa-facebook-square"></i>
                <i tofiq="fa-brands fa-google-plus-g" class="myIcon fa-brands fa-google-plus-g"></i>
                <i tofiq="fa-solid fa-heart" class="myIcon fa-solid fa-heart"></i>
                <i tofiq="fa-solid fa-camera" class="myIcon fa-solid fa-camera"></i>
            </div>


            <div class="input-group my-2">
                <input name="Description" class="form-control" type="text" placeholder="Description" />
            </div>
            <input type="submit" class="btn btn-outline-success" value="Create" />
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script>
        let myInput = document.getElementById("myInput")
        $(document).on('click', '.myIcon', function (e) {
            myInput.value = e.currentTarget.attributes.tofiq.value
            //e.style.color = "red"
            console.log(e.target)
        });
</script>